body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.644);
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.menu li {
  position: relative;
}

.menu a {
  color: rgb(0, 0, 0);
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #b60000;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: absolute;
  background-color: #b60000;
  width: 50vw;
  z-index: 1;
  top: 100%;
  left: auto;
  box-shadow: 0px 8px 16px rgba(202, 4, 159, 0.74);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content .column {
  flex: 1;
  padding: 10px;
  border-left: 0.5px solid white;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0d1d7a;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.tring {
  position: absolute;
  margin-top: 3vh;
  right: 12%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu a {
    padding: 15px 25px;
    text-align: center;
  }

  .dropdown-content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .dropdown-content .column {
    width: 100%;
    padding: 10px;
    border-left: none;
  }

  .tring {
    right: 10%;
    margin-top: 2vh;
  }
}

@media (max-width: 480px) {
  .menu a {
    padding: 10px 15px;
  }

  .menu li {
    width: 100%;
  }

  .dropdown-content {
    width: 100%;
  }
}
